﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="RSVP.About"  MasterPageFile ="~/Site.Master"%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h1>Семинар</h1>
    <h2>Приглашаем на семинар</h2>
    <p>Напоминаем Вам, что если Вы планируете выступить с докладом, то презентация для
    доклада должна быть загружена до начала работы секции </p>
    <p>Начало регистрации 1.01.2017 в 9.00.</p>
</asp:Content>
