﻿h1 {
    margin: 0px;
    padding: 2px 0;
    font-size: 30px;
    font-weight: bold;
}
#form1 label {
    width: 120px;
    display: inline-block;
}

#form1 input {
    margin: 2px;
    margin-left: 4px;
    width: 150px;
}

#form1 select {
    margin: 2px 0;
    width: 154px;
}

button[type=submit] {
    margin-top: 15px;
    padding: 5px;
}

table, td, th {
    border: thin solid black;
    border-collapse: collapse;
    padding: 5px;
    background-color: lemonchiffon;
    text-align: left;
    margin: 10px, 0;
}

.auto-style1 {
    width: 100%;
}

.auto-style2 {
    height: 50px;
}

.auto-style3 {
    width: 200px;
    height: 150px;
}

.auto-style4 {
    height: 150px;
}
.footer_menu li {
    margin: 0px;
    padding: 0 20px;
    display: inline;
    border-right: 1px solid #000000;
}